<header>
  <nav class="navbar">
    <div class="containers" id="one">
      <a 
        routerLink="basic" 
        routerLinkActive="active" 
        class="nav-items" 
      >Basic</a>
    </div>
    <div class="containers" id="two">
      <a 
        routerLink="sorting" 
        routerLinkActive="active" 
        class="nav-items" 
      >Sorting</a>
    </div>
    <div class="containers" id="three">
      <a 
        routerLink="transferring" 
        routerLinkActive="active" 
        class="nav-items" 
      >Transferring</a>
    </div>
    <div class="containers" id="four">
      <a 
        routerLink="handle" 
        routerLinkActive="active" 
        class="nav-items" 
      >Handle</a>
    </div>
    <div class="containers" id="five">
      <a 
        routerLink="preview" 
        routerLinkActive="active" 
        class="nav-items" 
      >Preview</a>
    </div>
    <div class="containers" id="six">
      <a 
        routerLink="placeholder" 
        routerLinkActive="active" 
        class="nav-items" 
      >Placeholder</a>
    </div>
    <div class="containers" id="seven">
      <a 
        routerLink="horizontal" 
        routerLinkActive="active" 
        class="nav-items" 
      >Horizontal</a>
    </div>
    <div class="containers" id="eight">
      <a 
        routerLink="boundary" 
        routerLinkActive="active" 
        class="nav-items" 
      >Boundary</a>
    </div>
    <div class="containers" id="nine">
      <a 
        routerLink="locking" 
        routerLinkActive="active" 
        class="nav-items" 
      >Locking</a>
    </div>
    <div class="containers" id="ten">
      <a 
        routerLink="alternateRoot" 
        routerLinkActive="active" 
        class="nav-items" 
      >Alternate Root</a>
    </div>
    <div class="containers" id="eleven">
      <a 
        routerLink="predicate" 
        routerLinkActive="active" 
        class="nav-items" 
      >Predicate</a>
    </div>
    <div class="containers" id="twelve">
      <a 
        routerLink="disabled" 
        routerLinkActive="active" 
        class="nav-items" 
      >Disabled</a>
    </div>
    <div class="containers" id="thirteen">
      <a 
        routerLink="disabledSorting" 
        routerLinkActive="active" 
        class="nav-items" 
      >Disabled Sorting</a>
    </div>
    <div class="containers" id="fourteen">
      <a 
        routerLink="delayed" 
        routerLinkActive="active" 
        class="nav-items" 
      >Delayed</a>
    </div>
    <div class="containers" id="fifteen">
      <a 
        routerLink="position" 
        routerLinkActive="active" 
        class="nav-items" 
      >Position</a>
    </div>
  </nav>
</header>