<header>
  <nav class="navbar">
    <div class="containers" id="one">
      <a 
        routerLink="basic" 
        routerLinkActive="active" 
        class="nav-items" 
      >Basic</a>
    </div>
    <div class="containers" id="two">
      <a 
        routerLink="sorting" 
        routerLinkActive="active" 
        class="nav-items" 
      >Sorting</a>
    </div>
    <div class="containers" id="three">
      <a 
        routerLink="transferring" 
        routerLinkActive="active" 
        class="nav-items" 
      >Transferring</a>
    </div>
    <div class="containers" id="four">
      <a 
        routerLink="handle" 
        routerLinkActive="active" 
        class="nav-items" 
      >Handle</a>
    </div>
    <div class="containers" id="five">
      <a 
        routerLink="" 
        routerLinkActive="active" 
        class="nav-items" 
      ></a>
    </div>
    <div class="containers" id="six">
      <a 
        routerLink="" 
        routerLinkActive="active" 
        class="nav-items" 
      ></a>
    </div>
    <div class="containers" id="seven">
      <a 
        routerLink="" 
        routerLinkActive="active" 
        class="nav-items" 
      ></a>
    </div>
    <div class="containers" id="eight">
      <a 
        routerLink="" 
        routerLinkActive="active" 
        class="nav-items" 
      ></a>
    </div>
    <div class="containers" id="nine">
      <a 
        routerLink="" 
        routerLinkActive="active" 
        class="nav-items" 
      ></a>
    </div>
    <div class="containers" id="ten">
      <a 
        routerLink="" 
        routerLinkActive="active" 
        class="nav-items" 
      ></a>
    </div>
    <div class="containers" id="eleven">
      <a 
        routerLink="" 
        routerLinkActive="active" 
        class="nav-items" 
      ></a>
    </div>
    <div class="containers" id="twelve">
      <a 
        routerLink="" 
        routerLinkActive="active" 
        class="nav-items" 
      ></a>
    </div>
    <div class="containers" id="thirteen">
      <a 
        routerLink="" 
        routerLinkActive="active" 
        class="nav-items" 
      ></a>
    </div>
    <div class="containers" id="fourteen">
      <a 
        routerLink="" 
        routerLinkActive="active" 
        class="nav-items" 
      ></a>
    </div>
    <div class="containers" id="fifteen">
      <a 
        routerLink="" 
        routerLinkActive="active" 
        class="nav-items" 
      ></a>
    </div>
  </nav>
</header>