<div cdkDropListGroup>
  <div class="example-container">
    <h2>Available items</h2>

    <div 
      class="example-list"
      cdkDropList
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="items"
    >
      <div 
        class="example-box"
        *ngFor="let item of items"
        cdkDrag
      >{{ item }}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Shopping basket</h2>

    <div 
      class="example-list"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="basket"
    >
      <div 
        class="example-box"
        *ngFor="let item of basket"
        cdkDrag
      >{{ item }}</div>
    </div>
  </div>
</div>